
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

.j-menu{
    background-color:antiquewhite
}
.header {
    background-color: antiquewhite;
}
.j-menu-botton {
    background-color:antiquewhite;
}
.j-Grid {
    border: 2px solid black;
}
.j-secondGrid {
    border: 2px solid black;
}